/**
 * Index (SCSS)
 * ----------------------------------------------------------------------
 * @author    Fabio Y. Goto <lab@yuiti.com.br>
 * @since     0.0.1
 */
@import "scss/partials/variables";

// Imports must follow this order
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

// Load BS4 Extensions
@import "scss/partials/extend";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

#main {
  background: #000;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

#contents {
  background: #fff;
}

#loader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.async-image {
  background: #eee;
  width: 100%;
  padding: 0 0 100%;
  position: relative;
  overflow: hidden;
}

.async-image-error {
}

.async-image-loading {
}

.async-image-placeholder {
  width: 160%;
  margin: auto;
  position: absolute;
  top: -1000%;
  right: -1000%;
  bottom: -1000%;
  left: -1000%;
}

.async-image-item {
  width: 160%;
  margin: auto;
  position: absolute;
  top: -1000%;
  right: -1000%;
  bottom: -1000%;
  left: -1000%;
  animation: async-image-show 1s;
}

@keyframes async-image-show {
  from {
    transform: scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }

  to {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}