/**
 * SCSS/Elements.Module
 * ----------------------------------------------------------------------
 * @author    Fabio Y. Goto <lab@yuiti.com.br>
 * @since     0.0.1
 */
@import "partials/variables";
@import "node_modules/bootstrap/scss/bootstrap";

.mm-pagination {
  .page-item {
    .page-link {
      border-color: transparentize($marvel-red, .7);
      color: $marvel-red;
      transition: .3s;
    }

    &:focus {
      box-shadow: 0 0 0 .2rem transparentize($marvel-red, .8);
    }

    &:active,
    &.active {
      .page-link {
        color: #fff;
        background: $marvel-red;
        border: 1px solid darken($marvel-red, 10);
        box-shadow: 0 0 0 .2rem transparentize($marvel-red, .5);
      }
    }
  }
}
